<div class="container">
    <h2>Chile - Región de Valparaíso </h2>
</div>

<app-header-screen></app-header-screen>
<app-navbar-screen></app-navbar-screen>
<div class="container mt-5">
    <div>
        <ul>
            <div *ngFor="let climas of Listaclimas">
                <li>
                    <h2> {{climas.dia}}</h2>
                    <button type="submit" id="botonvalparaiso" onsubmit="mostrar()">
                        <img src='../../../assets/{{climas.imagen}}' alt='{{climas.imagen}}'>
                    </button>
                    <p>{{climas.temperatura}}</p>
                    <p>{{climas.tipo}}</p>
                </li>
            </div>
        </ul>
    </div>
</div>
<app-formulario-screen></app-formulario-screen>




